[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[scripts]
test = "pytest --cov=. --cov-report html"

[dev-packages]
black = "*"
pytest = "*"
pytest-cov = "*"

[packages]
numpy = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
